.main {
    width: 100vw;
    height: 100vh;
}

.stage {
    background: #E1CADF;
    height: 100% !important;
    width: 100% !important;
}

.tools {
    position: absolute;
    z-index: 1;
}

.controls-helper {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.75rem;
    font-weight: bold;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 6px;
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, .15);
    cursor: pointer;
    transition: background 250ms linear;

    &:hover {
        background: rgba(255, 255, 255, 0.5);
    }
}